
#accordion{
    margin: 100px auto  ;
    width: 600px;
    
}
#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #2c2a58;
    padding: 10px;
    border-radius: 4px; 

}
#accordion li label{
    padding: 10px;
    display: flex;
    align-items: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #fff; 
}
#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
}
#accordion label + input[type="radio"]{
    display: none;
}

#accordion .contentt{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .contentt{
   max-height: 400px; 
}